@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services

@{
    Layout = null;
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="review-list" id="review-list" class="review-list">
    <template v-if="Reviews">
        <template v-for="review of Reviews">
            <div style="margin: 20px;">
                <p>{{ review.Name }}</p>
                <p>{{ review.Email }}</p>
                <p>{{ review.Comments }}</p>
                <p>{{ review.Rating }}</p>
            </div>
        </template>
    </template>
</div>