@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services

@{
    Layout = null;
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")
@Html.StyleSheet(Url.WidgetContent("assets/dist/css/products-review.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="review-list" id="review-list" class="review-list">
    <template v-if="Reviews">
        <template v-for="(review, index) of Reviews">
            <div class="review-list-inner">
                <div>
                <span>{{ index }}.</span>
                <span>{{ review.Name }}</span> | <span><i>{{ formatDate(review.CreatedOn) }}</i></span>
                    </div>
                <show-rating :rating="review.Rating"></show-rating>
                <div>{{ review.Comments }}</div>
            </div>
        </template>
    </template>
</div>