<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net472" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net472" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net472" />
  <package id="RazorGenerator.Mvc" version="2.3.12" targetFramework="net472" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net472" />
  <package id="Telerik.Sitefinity.Core" version="11.2.6900" targetFramework="net472" />
  <package id="Telerik.Sitefinity.Feather.Core" version="11.2.6900" targetFramework="net472" />
  <package id="Telerik.Sitefinity.Mvc" version="11.2.6900" targetFramework="net472" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net472" />
</packages>