@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Newtonsoft.Json;

@model UCommerce.Sitefinity.UI.Mvc.ViewModels.PaymentPickerViewModel
@{
    Layout = null;
}
@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<h3 class="heading-underline">Payment method</h3>

<div data-component="payment-widget" id="payment-method">
    <script type="application/json" data-items="true">
        { "model" : @Html.Raw(JsonConvert.SerializeObject(Model)) }
    </script>
    <form action="/shop/checkout/payment/CreatePayment" method="POST" name="PaymentPicker">
        <template v-if="model.AvailablePaymentMethods.length">
            <template v-for="method in model.AvailablePaymentMethods" :model="model">
                <div>
                    <label>
                        <input id="SelectedPaymentMethodId" name="SelectedPaymentMethodId" type="radio" :value="method.Value" :checked="method.Value == model.SelectedPaymentMethodId"> {{ method.Text }}
                    </label>
                </div>
            </template>
            <checkout-navigation v-bind:model="model" continue-label="Continue to next step" classes=""></checkout-navigation>
        </template>
        <template v-else>
            <p>
                WARNING: No payment methods have been configured for {{ model.ShippingCountry }} within <a href="http://ucommerce.dk">UCommerce</a> administration area.
            </p>
        </template>
    </form>
</div>
