@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

@{
    Layout = null;
}


@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="address-widget" id="address-widget">
    <template v-if="model">
        <div class="container mt-5">
            <div class="js-address-billing">
                <h3>Billing address</h3>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="FirstName" label="First name *" input-classes="form-control required"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="LastName" label="Last name *" input-classes="form-control required"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="EmailAddress" label="E-mail *" input-classes="form-control required email"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="Attention" label="Attention" input-classes="form-control margin-bottom"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="MobilePhoneNumber" label="Mobile phone" input-classes="form-control margin-bottom"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="PhoneNumber" label="Phone" input-classes="form-control"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="Line1" label="Street *" input-classes="form-control required"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="Line2" label="Street 2" input-classes="form-control margin-bottom"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="PostalCode" label="Postal code *" input-classes="form-control required margin-bottom"></input-field>
                    </div>

                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="City" label="City *" input-classes="form-control required margin-bottom"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="BillingAddress_CountryId" class="font-weight-bold">Country</label>
                        <select id="BillingAddress_CountryId" name="BillingAddress.CountryId" class="countryDropdownCheckout margin-bottom form-control">
                            <option v-for="(country, index) in model.AvailableCountries" :selected="country.Value == model.BillingAddress.CountryId" :value="country.Value">{{ country.Text }}</option>
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="BillingAddress" field-name="CompanyName" label="Company" input-classes="form-control margin-bottom"></input-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-5">
            <div v-if="model.IsShippingAddressDifferent" class="js-address-shipping">
                <h3>Shipping address</h3>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="FirstName" label="First name *" input-classes="col-md-12 form-control required"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="LastName" label="Last name *" input-classes="col-md-12 form-control required margin-bottom"></input-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="EmailAddress" label="E-mail *" input-classes="col-md-12 form-control email required margin-bottom"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="Attention" label="Attention" input-classes="col-md-12 form-control margin-bottom"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="MobilePhoneNumber" label="Mobile phone" input-classes="col-md-12 form-control margin-bottom"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="PhoneNumber" label="Phone" input-classes="col-md-12 form-control margin-bottom"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="Line1" label="Street *" input-classes="col-md-12 form-control required margin-bottom"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="Line2" label="Street 2" input-classes="col-md-12 form-control margin-bottom"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="PostalCode" label="Postal code *" input-classes="col-md-12 form-control required margin-bottom"></input-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" required=true :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="City" label="City *" input-classes="col-md-12 form-control required margin-bottom"></input-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="ShippingAddress_CountryId" class="font-weight-bold">Country</label>
                        <select id="ShippingAddress_CountryId" name="ShippingAddress.CountryId" class="countryDropdownCheckout margin-bottom form-control">
                            <option v-for="(country, index) in model.AvailableCountries" :selected="country.Value == model.ShippingAddress.CountryId" :value="country.Value">{{ country.Text }}</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <input-field type="text" :model="model" label-classes="font-weight-bold" error-classes="error-custom" address-type="ShippingAddress" field-name="CompanyName" label="Company" input-classes="col-md-12 form-control margin-bottom"></input-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="row">
                <div class="col-md-12">
                    <label for="IsShippingAddressDifferent" class="d-inline">
                        Use a different address for shipping
                        <input id="IsShippingAddressDifferent" name="IsShippingAddressDifferent" type="checkbox" class="js-address-checkbox" v-model="model.IsShippingAddressDifferent" v-on:change="handleIsShippingAddressDifferent">
                    </label>
                </div>
            </div>
            <checkout-navigation v-bind:model="model"
                                 continue-label="Continue to next step"
                                 mode="Bootstrap4"
                                 :continue-fn="continueFn"
                                 back-link-classes="btn btn-light btn-lg float-md-left"
                                 continue-btn-classes="btn btn-info btn-lg w-100 mt-3 mt-md-0 float-md-right"
                                 classes="row my-4">
            </checkout-navigation>
        </div>
    </template>
</div>

