<configuration>
    <components>
        <component
		    id ="DefaultCatalogsSectionProvider"
			service="UCommerce.Tree.ITreeContentProvider, UCommerce"
			type="UCommerce.Tree.Impl.Providers.CatalogsSectionProvider, UCommerce" />

        <partial-component id="TreeServiceShell">
            <parameters>
                <contentProviders>
                    <list>
                        <item insert-before="${DefaultCatalogSearchItemProvider}">${DefaultCatalogsSectionProvider}</item>
                    </list>   
                </contentProviders>    
            </parameters>
        </partial-component>
    </components>
</configuration>