@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Newtonsoft.Json;

@model UCommerce.Sitefinity.UI.Mvc.ViewModels.BasketPreviewViewModel
@{
    Layout = null;
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div class="section-margin " data-component="checkout-overview" id="checkout-overview">
    <script type="application/json" data-items="true">
        { "model" : @Html.Raw(JsonConvert.SerializeObject(Model)) }
    </script>
    <form v-if="model" action="/shop/checkout/overview/RequestPayment" method="POST" name="BasketPreview">
        <div class="row well overflow-hidden">
            <div class="col-md-6">
                <h3 class="heading-underline">Billing address</h3>
                <br />
                <address>
                    <span class="address-line"><strong>{{ model.BillingAddressDTO.FirstName }} {{ model.BillingAddressDTO.LastName }}</strong></span><br>
                    <span class="address-line">{{ model.BillingAddressDTO.Line1 }}<br></span>
                    <span class="address-line">{{ model.BillingAddressDTO.PostalCode }} {{ model.BillingAddressDTO.City }}</span><br>
                    <span class="address-line">{{ model.BillingAddressDTO.CountryId }}</span>
                    <template v-if="model.BillingAddressDTO.Attention">
                        <span class="address-line"><text>att. </text> {{ model.BillingAddressDTO.Attention }}</span>
                    </template>
                    <br>
                    <span class="address-line"><abbr title="Phone">P:</abbr>{{ model.BillingAddressDTO.PhoneNumber }}</span><br>
                    <span class="address-line"><abbr title="Mobile">M:</abbr>{{ model.BillingAddressDTO.MobilePhoneNumber }} </span><br>
                    <span class="address-line"><abbr title="Email">E:</abbr><a :href="'mailto:' + model.BillingAddress.EmailAddress">{{ model.BillingAddressDTO.EmailAddress }}</a></span>
                </address>
            </div>
            <div class="col-md-6">
                <h3 class="heading-underline">Shipping address</h3>
                <br />
                <address>
                    <span class="address-line"><strong>{{ model.ShipmentAddressDTO.FirstName }} {{ model.ShipmentAddressDTO.LastName }}</strong></span><br>
                    <span class="address-line">{{ model.ShipmentAddressDTO.CompanyName }}</span>
                    <template v-if="model.ShipmentAddressDTO.Attention">
                        <span class="address-line"><text>att. </text> {{ model.ShipmentAddressDTO.Attention }}</span>
                    </template>
                    <br>
                    <span class="address-line">{{ model.ShipmentAddressDTO.Line1 }}</span><br>
                    <span class="address-line">{{ model.ShipmentAddressDTO.PostalCode }} {{ model.ShipmentAddressDTO.City }}</span><br>
                    <span class="address-line">{{ model.ShipmentAddressDTO.CountryId }}</span><br>
                    <span class="address-line"><abbr title="Phone">P:</abbr>{{ model.ShipmentAddressDTO.PhoneNumber }}</span><br>
                    <span class="address-line"><abbr title="Mobile">M:</abbr>{{ model.ShipmentAddressDTO.MobilePhoneNumber }}</span><br>
                    <span class="address-line"><abbr title="Email">E:</abbr><a href="'mailto:' + model.ShipmentAddress.EmailAddress">{{ model.ShipmentAddressDTO.EmailAddress }}</a></span>
                </address>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-row t-heading">
                <div class="span2 table-cell">Item no. </div>
                <div class="span6 table-cell">Description</div>
                <div class="span2 table-cell money">Price</div>
                <div class="span2 table-cell money">VAT</div>
                <div class="span2 table-cell number">Quantity</div>
                <div class="span2 table-cell money">Total</div>
            </div>
            <div class="table-body">
                <template v-for="lineItem in model.OrderLines">
                    <div class="table-row item-preview">
                        <div class="table-cell">{{ lineItem.Sku }}</div>
                        <div class="table-cell">{{ lineItem.ProductName }}</div>
                        <div class="table-cell money">
                            <template v-if="lineItem.Discount.HasValue && lineItem.Discount > 0">
                                <span style="text-decoration: line-through">
                                    {{ lineItem.Price }}
                                </span>
                                {{ lineItem.PriceWithDiscount }}
                            </template>
                            <template v-else>
                                {{ lineItem.Price }}
                            </template>
                        </div>
                        <div class="table-cell money">{{ lineItem.Tax }}</div>
                        <div class="table-cell number">{{ lineItem.Quantity }}</div>
                        <div class="table-cell money">{{ lineItem.Total }}</div>
                    </div>
                </template>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">Sub total: </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">
                        {{ model.SubTotal }}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">VAT: </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">
                        {{ model.TaxTotal }}
                    </div>
                </div>
                <div v-if="model.DiscountAmount != 0" class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">Order discounts: </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">
                        -{{ model.DiscountTotal }}
                    </div>
                </div>
                <div v-if="model.ShipmentAmount != 0" class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">
                        Shipping
                        <span> (via {{ model.ShipmentName }})</span>
                    </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">{{ model.ShippingTotal }}</div>
                </div>
                <div v-if="model.PaymentAmount != 0" class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">
                        Payment
                        <span> ({{ model.PaymentName }})</span>
                    </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">{{ model.PaymentTotal }}</div>
                </div>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">Order total: </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">{{ model.OrderTotal }}</div>
                </div>
            </div>
        </div>
        <checkout-navigation v-bind:model="model" continue-label="Complete Order"></checkout-navigation>
    </form>
</div>