.cart-table {
    margin: 30px 0;
}

    .cart-table table thead tr th {
        color: #aaa !important;
    }

table {
    border-collapse: collapse;
}

td {
    border: none;
}

.update-basket {
    margin: 10px 0;
}


.update-basket,
.line-remove,
.btn-next,
.multistep-btn-a input[type="submit"] {
    border: none;
    background: #00b4c9;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase !important;
    font-family: "Open Sans";
    box-shadow: 0 2px 4px #ccc;
    transition: all .3s ease-out;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
}

    .update-basket:hover,
    .line-remove:hover,
    .btn-next:hover,
    .multistep-btn-a input[type="submit"]:hover {
        background: #0097a9;
    }

.btn-next {
    width: 25%;
    font-size: 18px;
    padding: 15px 10px;
}

.multistep-btn-a input[type="submit"],
.multistep-btn-a .btn-complete {
    width: 50% !important;
    font-size: 18px !important;
    padding: 15px 10px !important;
}

.update-basket > .btn-text,
.line-remove > .btn-text {
    margin: 0 10px;
    color: white;
}

.update-basket > .fa-sync-alt,
.line-remove > .fa-times {
    color: white !important;
}

.qty {
    padding-left: 10px;
}

.a-heading {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

    .a-heading:hover {
        color: #00b4c9;
        text-decoration: underline;
    }

.order-total {
    font-weight: 600;
}

.order-line:last-child {
    padding-bottom: 20px;
}

tr {
    background: white !important;
}

.section-margin {
    margin: 20px 0 !important;
}

.btn-transparent {
    background: transparent;
}

.padding-0 {
    padding: 0px !important;
}

.btn-next.btn-transparent {
    color: black !important;
}

    .btn-next.btn-transparent:hover {
        color: #fff !important;
        background: #ccc;
    }

.js-address-billing input,
.js-address-billing select {
    height: 44px;
}

.radio-btn-ml {
    margin-left: 44px !important;
}

.address-line {
    font-size: 16px;
}

    .address-line:first-child {
        font-size: 18px;
    }

    .address-line:nth-child(2) {
        padding-top: 20px;
    }

abbr {
    margin-right: 10px !important;
    text-decoration: none !important;
    border-bottom: none !important;
}

    abbr:hover {
        cursor: default;
    }
