/*
    Category Navigation
*/

.top.top--light {
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.05);
    box-shadow: 0 0 15px rgba(0,0,0,.05);
}

    .top.top--light:hover {
        -webkit-box-shadow: 0 0 35px rgba(0,0,0,.1);
        box-shadow: 0 0 35px rgba(0,0,0,.1);
    }

.top, .top-inner {
    height: 70px;
}

    .top .top-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 30px;
        max-width: 1300px;
        margin: 0 auto;
    }

.top {
    position: inherit;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background: #111;
}

.top-inner.top-inner--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.main-nav {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    width: 55%;
}

    .main-nav > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

        .main-nav > ul > li {
            display: block;
            position: relative;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            line-height: 70px;
        }

            .main-nav > ul > li:hover {
                background: rgba(0,0,0,.02);
            }

.top--light .main-nav > ul > li a {
    color: #111;
}

@media only screen and (max-width: 1200px) {
    .main-nav > ul > li > a {
        padding: 0 15px;
    }
}

.main-nav > ul > li > a {
    line-height: 70px;
    padding: 0 30px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    position: relative;
    white-space: nowrap;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.main-nav.main-nav--right.hide--m {
    width: auto;
}

.main-nav .toggle-cart a {
    width: 70px;
    height: 70px;
    padding: 0;
    text-align: center;
    font-size: 17px !important;
}

.toggle-cart a > span {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-18 {
    width: 1.125em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.toggle-cart a > span span {
    background-color: #45aaf2;
    color: #fff;
    opacity: 1;
    transform: scale(1);
    position: absolute;
    top: -6px;
    right: -10px;
    font-size: 11px;
    line-height: 1;
    font-weight: bold;
    min-width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0 3px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.search {
    position: relative;
    top: -70px;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.05);
    box-shadow: 0 0 15px rgba(0,0,0,.05);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.search-visible .search {
    visibility: visible;
    opacity: 1;
}

.search-visible .search__close {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.search__close {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border-radius: 100%;
    background-color: rgba(0,0,0,.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(.8) rotate(90deg);
    transform: scale(.8) rotate(90deg);
    z-index: 10;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    padding: 0;
    line-height: inherit;
    cursor: pointer;
    outline: 0;
    text-transform: none;
    overflow: visible;
    color: inherit;
    font: inherit;
}

.search__stage {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.search-visible .search__form {
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.search__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

    .search__form > .fa-search {
        position: absolute;
        top: 50%;
        left: 23px;
        opacity: .3;
        font-size: 18px;
        line-height: 1;
        z-index: 1;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.search__form .search__input {
    margin-bottom: 0;
    height: 70px;
    font-size: 18px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    display: block;
    padding: 15px 15px 15px 55px;
    color: #444;
    width: 100%;
    border: 0;
    background-color: #fff;
    transition: box-shadow .3s ease,-webkit-box-shadow .3s ease;
    border-radius: 4px;
    line-height: normal;
    font: inherit;
    margin: 0;
}

.search-visible .search__autocomplete {
    opacity: 1;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.search__autocomplete {
    position: absolute;
    top: 100%;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: 100%;
    max-width: 600px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    padding: 15px;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-box-shadow: 0 10px 24px rgba(0,0,0,.15);
    box-shadow: 0 10px 24px rgba(0,0,0,.15);
    border-top: 1px solid rgba(0,0,0,.05);
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

ul.search__suggest {
    list-style: none;
    margin: 0;
    padding: 0;
    font: 16px/1.4em "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444;
}

    ul.search__suggest li a {
        padding: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        text-decoration: none;
        cursor: pointer;
    }

        ul.search__suggest li a:hover {
            background-color: rgba(0,0,0,.03);
        }

        ul.search__suggest li a .search__suggest-image {
            width: 60px;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

            ul.search__suggest li a .search__suggest-image img {
                display: block;
                max-width: 100%;
                border: 0;
                margin: 0;
                padding: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }

        ul.search__suggest li a .search__suggest-info {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            margin-left: 15px;
            padding-top: 5px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #111;
            font-weight: bold;
        }

        ul.search__suggest li a .search__suggest-title {
            font-size: 14px;
            display: block;
        }

.top-inner.top-inner--center .logo-wrap {
    height: 100%;
    width: auto;
}

.logo {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 5;
}

    .logo img {
        height: 100%;
        display: block;
        max-width: 100%;
        padding: 21px 0;
        border: 0;
        vertical-align: baseline;
    }

.top--light .logo--on-light {
    display: block;
}

.closed {
    display: none;
}

.category-child.open {
    position: absolute;
    list-style: none;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    z-index: 1001;
    top: 100%;
    float: left;
    background-color: #fff;
}

.open {
    display: block;
}

ul.category-child .category-child.open {
    top: 50%;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: 0.125rem;
}

.btn-navcategory {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

    .sfAddToCartBtn:active,
    .sfAddToCartBtn::selection,
    .sfAddToCartBtn:focus,
    .sfAddToCartBtn:checked,
    .sfAddToCartBtn:visited,
    .btn-navcategory:active,
    .btn-navcategory::selection,
    .btn-navcategory:focus,
    .btn-navcategory:checked,
    .btn-navcategory:visited {
        border: none;
        box-shadow: none;
        outline: 0;
    }

.float-left {
    float: left;
}

.position-absolute {
    position: absolute;
}

.mr-30 {
    margin-right: 30px!important;
}

/*
    Facets Filter
*/

.sfShopByFilterListItem {
    background: 0 0;
    padding: 0 0 0 25px;
    color: #888;
    position: relative;
}

    .sfShopByFilterListItem:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.cb-wrap {
    font-weight: normal;
}

    .cb-wrap:hover {
        cursor: pointer;
    }

.js-facets {
    display: none;
}

.cb-wrap:before {
    width: 14px;
    height: 14px;
    display: block;
    left: 0;
    top: 2px;
    position: absolute;
    content: "";
    border-radius: 2px;
    border: 1px solid #fff;
    background: #eee;
}

.cb-wrap.active {
    font-weight: 700;
    color: #444;
}

    .cb-wrap.active:before {
        background: #3aa4bf;
    }

.cb-wrap:hover:before {
    border: 1px solid #ccc;
}

h2.sffilterTitle {
    line-height: 1.1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a.sffilterClearLnk {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.sfShopByFilterGroupList {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    margin-bottom: 20px;
}

/*
    Products
*/

.pagination {
    margin: 1% 2% 2% 1%;
}

    .pagination > li > a {
        color: #00b4c9;
        font-size: 16px;
        margin: 10px;
        padding: 0;
        border: none;
    }

        .pagination > li > a:hover {
            color: #23527c;
            background-color: transparent;
        }

    .pagination > li.active > a {
        color: white !important;
        background-color: #00b4c9 !important;
        padding: 4px 10px;
        border-radius: 80%;
        margin-top: 6px;
    }

.sfCatalogTotalCount em {
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sfproductPrice .sfRegPrice {
    line-height: 1.428571429;
    color: #333;
}

.sfproductPrice .sfDiscPrice {
    color: red;
}

.sfcommentsThreadRatingWrp.sfcommentsThreadRatingFull.sfRatingReadOnly, .sfRatingClosingText, .sfproductPrice {
    font-size: 14px;
    line-height: 1.428571429;
}


    .sfproductPrice.bottomPrice {
        bottom: 0px;
        min-height: 210px;
    }

.sfproductsList .sfproductListItem {
    vertical-align: top;
    float: none;
    list-style: none;
    width: 30%;
    border-bottom: 1px solid #eee;
    display: inline-block;
    height: 100% !important;
    padding: 0px 0px 0px 10px;
    margin-bottom: 20px;
}

.product-list-paging {
    margin-bottom: 20px;
}

.sfcurrenciesHorizontalList li a {
    font-size: 14px;
}

    .sfcurrenciesHorizontalList li a:hover {
        text-decoration: underline;
    }

a.sflnkToggleCart .sflnkToggleCartLbl {
    font-size: 14px;
}

.sfcartSummaryWrp.sfcartSummaryExpandableWrp {
    margin: 0;
}

.paragraph-top {
    margin-top: 1rem;
    margin-bottom: 0;
}

.sfproductTitle {
    font-size: 24px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #333;
    min-height: 130px;
}

.sfproductDetailsWrp .sfproductTitle {
    min-height: initial;
    margin-bottom: 16px !important;
}

.sfproductDescription {
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sfcommentsThreadRatingWrp.sfcommentsThreadRatingFull.sfRatingReadOnly, .sfRatingClosingText, .sfproductPrice {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sfproductInventory .sfProductInventoryWrp {
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sfAddToCartWidget > .sfAddToCartWrp {
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}

.sfAddToWishlistWidget .sfAddToWishListLnkWrp {
    font-size: 14px;
    line-height: 1.428571429;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sfAddToWishListLnkWrp a:hover {
    color: #23527c;
}


div.sfproductPrice {
    font-size: 14px;
    line-height: 1.428571429;
}

.paragraph-top {
    margin-top: 1rem;
    margin-bottom: 0;
}

.sfproductPrice .sfDiscPrice {
    color: red;
}

.sfcommentsThreadRatingWrp.sfcommentsThreadRatingFull.sfRatingReadOnly {
    margin-top: 12px;
    margin-bottom: 12px;
}

.sfproductPrice.bottomPrice input {
    margin-top: 12px;
}

label[for="productQuantityInput"] {
    margin-top: 12px;
}

.sfAddToCartBtn {
    background: #00b4c9;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 2px;
}

    .sfAddToCartBtn:hover {
        background:#00a8c9 ;
    }

a.sfRatingClosingText {
    font-size: 14px;
    line-height: 1.428571429;
}

    a.sfRatingClosingText:hover {
        color: #23527c;
    }

@media screen and (max-width: 1200px) {
    .sfproductsList li.sfproductListItem {
        width: 48% !important;
    }

    .main-nav {
        width: 100%;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .main-nav > ul > li > a {
        display: inline;
        line-height: 70px;
        padding: 0 12px;
    }
}

@media screen and (max-width: 767px) {
    .hide-element-sm {
        display: none;
    }

    .main-nav > ul > li {
        display: inline-block;
        width: 100%;
    }

    .btn-navcategory {
        float: right;
        padding-right: 20px;
    }

    .category-child.open {
        border: 1px solid #ccc;
        width: 100%;
        left: 0;
    }

    ul.category-child .category-child.open {
        top: 100% !important;
        right: 0 !important;
        left: 0 !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
    }

    .main-nav > ul > li > a {
        line-height: 70px;
        white-space: normal;
        margin: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        padding: 0;
    }

    .mr-14p-sm {
        margin-left: 14%;
    }

    .main-nav .toggle-cart a {
        text-align: left;
    }

    .search__close {
        top: 30px;
        right: 10px;
        width: auto;
        height: auto;
    }

    nav > ul {
        display: block !important;
    }

    .top.top--light {
        width: 60%;
    }

    .top, .top-inner {
        height: auto !important;
        display: block !important;
        -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
        justify-content: unset !important;
        -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
        align-items: unset !important;
        padding: 0;
        max-width: 1300px;
        margin: 0 auto;
    }

    .sfproductsList {
        padding: 0 12px;
    }

    .main-nav.main-nav--right.hide--m {
        width: 100%;
    }

    .logo img {
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .top.top--light {
        width: 80%;
    }

    .sfproductsList li.sfproductListItem .sfproductTmbWrp a img {
        margin: 0 auto;
        display: inherit;
    }

    .sfproductsList li.sfproductListItem {
        width: 100% !important;
        height: auto !important;
        text-align: left;
    }

        .sfproductsList li.sfproductListItem .sfproductTmbWrp a img {
            position: relative;
            width: 50%;
            height: auto;
        }
}


@media screen and (max-width: 414px) {
    .top-inner.top-inner--center {
        padding-left: 20%;
    }
}


@media screen and (max-width: 359px) {
    .top-inner.top-inner--center {
        padding-left: 12%;
    }
}
