@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="form-group">
    <label for="facetTemplateName">@Html.Resource("Template")</label>

    <div class="row">
        <div class="col-xs-6">
            <select id="facetTemplateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                @foreach (var viewName in Html.GetViewNames("FacetsFilter", @"(?<viewName>[\w\s]*)$"))
                {
                    <option value="@viewName"> @viewName.SplitCamelCase()</option>
                }
            </select>
        </div>
    </div>
</div>