@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Newtonsoft.Json;

@model UCommerce.Sitefinity.UI.Mvc.ViewModels.PaymentPickerViewModel
@{
    Layout = null;
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}


    <div class="container my-4" data-component="payment-widget" id="payment-method">
        <script type="application/json" data-items="true">
            { "model" : @Html.Raw(JsonConvert.SerializeObject(Model)) }
        </script>
        <div class="row">
            <div class="col-md-6">
                <h3>Payment method</h3>
                <hr />
            </div>
        </div>
        <form action="/shop/checkout/payment/CreatePayment" method="POST" name="PaymentPicker">
            <template v-if="model.AvailablePaymentMethods.length">
                <template v-for="method in model.AvailablePaymentMethods" :model="model">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="js-payment-picker" id="SelectedPaymentMethodId" name="SelectedPaymentMethodId" type="radio" :value="method.Value" :checked="method.Value == model.SelectedPaymentMethodId"> {{ method.Text }}
                                </label>
                            </div>
                        </div>
                    </div>
                </template>
                <checkout-navigation v-bind:model="model"
                                     continue-label="Continue to next step"
                                     mode="Bootstrap4"
                                     back-link-classes="btn btn-light btn-lg float-md-left"
                                     continue-btn-classes="btn btn-info btn-lg w-100 mt-3 mt-md-0 float-md-right"
                                     classes="row my-4">
            </template>
            <template v-else>
                <p class="alert alert-danger">
                    WARNING: No payment methods have been configured for {{ model.ShippingCountry }} within <a href="http://ucommerce.dk">UCommerce</a> administration area.
                </p>
            </template>
        </form>
    </div>

