<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer xdt:Transform="InsertIfMissing">
    <validation validateIntegratedModeConfiguration="false" xdt:Transform="SetAttributes" />
  </system.webServer>
</configuration>