@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Newtonsoft.Json;

@model UCommerce.Sitefinity.UI.Mvc.ViewModels.CartRenderingViewModel

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@if (Model.OrderLines.Count == 0)
{
    <div class="alert alert-info">
        <p>Your cart is empty. Please <a href="/">return to our store and add some items</a>.</p>
    </div>
}
else
{
<div class="container-fluid my-5" data-component="cart" id="shopping-cart">
    <script type="application/json" data-items="true">
        { "model" : @Html.Raw(JsonConvert.SerializeObject(Model)) }
    </script>
    <div class="row border-bottom py-2 d-none d-md-flex">
        <div class="col-md-4">
            <span class="span3 font-weight-bold">Description</span>
        </div>
        <div class="col-md-1">
            <span class="span1 money font-weight-bold">Price</span>
        </div>
        <div class="col-md-1">
            <span class="span1 money font-weight-bold">VAT</span>
        </div>
        <div class="col-md-1">
            <span class="span1 font-weight-bold">Quantity</span>
        </div>
        <div class="col-md-1">
            <span class="span1 money font-weight-bold">Total</span>
        </div>
        <div class="col-md-2">
            <span class="span05">

            </span>
        </div>
        <div class="col-md-2">
            <span>

            </span>
        </div>
    </div>
    <template v-for="(line, key) in model.OrderLines" :key="item.OrderLineId">
        <div class="row border-bottom order-line py-3">
            <input :id="'OrderLines_' + key + '__Sku'" :name="'OrderLines[' + key + '].Sku'" type="hidden" :value="line.Sku">
            <input :id="'OrderLines_' + key + '__VariantSku'" :name="'OrderLines[' + key + '].VariantSku'" type="hidden" :value="line.VariantSku">
            <input :id="'OrderLines_' + key + '__OrderLineId'" :name="'OrderLines[' + key + '].OrderLineId'" type="hidden" :value="line.OrderLineId">

            <div class="col-md-4 mb-2 mb-md-0">
                <span class="font-weight-bold d-md-none">Description: </span> <a class="text-info d-block d-md-inline-block" :href="line.ProductUrl">{{ line.ProductName }}</a>
            </div>

            <div class="col-md-1 money mb-2 mb-md-0">
                <span class="font-weight-bold d-md-none">Price: </span>
                <template v-if="line.Discount.HasValue && line.Discount > 0">
                    <span>
                        {{ line.Price }}
                    </span>
                    <span>
                        {{ line.PriceWithDiscount }}
                    </span>
                </template>
                <template v-else>
                    <span>
                        {{ line.Price }}
                    </span>
                </template>
            </div>

            <div class="col-md-1 money mb-2 mb-md-0" data-tax>
                <span class="font-weight-bold d-md-none">VAT</span>
                {{ line.Tax }}
            </div>
            <div class="col-md-1 mb-2 mb-md-0">
                <span class="font-weight-bold d-md-none">Quantity: </span>
                <input class="qty form-control d-inline-block p-0 pl-1" type="text" v-model="line.Quantity">
            </div>
            <div class="col-md-1 money item-total mb-1 mb-md-0">
                <span class="font-weight-bold d-md-none">Total: </span>
                {{ line.Total }}
            </div>
            <div class="col-md-2 mb-3 mb-md-0">
                <button name="update-basket" v-on:click="updateCartItems" class="btn btn-info btn d-inline-block float-right js-update-basket" type="button">
                    <span class="h6 mr-2 text-white">&#10227;</span> <span>Update</span>
                </button>
            </div>
            <div class="col-md-2 mb-2 mb-md-0">
                <button type="button" v-on:click="removeCartItem(line.OrderLineId)" name="RemoveOrderlineId" class="line-remove btn float-right btn-info btn"><span class="h6 mr-2 text-white">&#10005;</span><span>Remove</span></button>
            </div>
        </div>
    </template>
    <div class="row border-bottom py-2 text-right">
        <div class="offset-md-8 col-md-2">
            <span class="font-weight-bold">Sub total:</span>
        </div>
        <div class="col-md-2 money order-subtotal">
            {{ model.SubTotal }}
        </div>
    </div>
    <div class="row border-bottom py-2 text-right">
        <div class="offset-md-8 col-md-2">
            <span class="font-weight-bold">VAT:</span>
        </div>
        <div class="col-md-2 money order-tax">
            {{ model.TaxTotal }}
        </div>
    </div>
    <div class="row border-bottom py-2 text-right">
        <div class="offset-md-8 col-md-2">
            <span class="font-weight-bold">Discounts:</span>
        </div>
        <div class="col-md-2 money order-discounts">
            {{ model.DiscountTotal }}
        </div>
    </div>
    <div class="row border-bottom py-2 text-right">
        <div class="offset-md-8 col-md-2">
            <span class="font-weight-bold">Order total:</span>
        </div>
        <div class="col-md-2 money order-total">
            {{ model.OrderTotal }}
        </div>
    </div>

    <checkout-navigation v-bind:model="model" 
                         next-step-link=true 
                         continue-label="Continue" 
                         mode="Bootstrap4" 
                         back-link-classes="btn btn-light btn-lg float-md-left" 
                         continue-btn-classes="btn btn-info btn-lg float-md-right" 
                         classes="mt-4">
</div>
}
