@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

@using (Html.BeginFormSitefinity("Save", "SpaCheckout", FormMethod.Post))
{
    <div>
        @{
            Html.RenderAction("Index", "Cart");
            Html.RenderAction("Index", "Address");
            Html.RenderAction("Index", "ShippingPicker");
            Html.RenderAction("Index", "PaymentPicker");
        }
        <input type="submit" class="btn btn-success btn-full-width pull-right submit-address" value="Continue to Next Step" />
    </div>
}