
<form name="cartProperties">
    <label for="image-field" class="m-top-sm">Next Step Page</label>
    <sf-list-selector sf-page-selector sf-multiselect="false" sf-sortable="true"
                      sf-provider="properties.ProviderName.PropertyValue"
                      sf-selected-item-id="properties.NextStepId.PropertyValue"
                      sf-selected-item="properties.SelectedItem.PropertyValue"></sf-list-selector>
</form>