@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Newtonsoft.Json;

@*@model UCommerce.Sitefinity.UI.Mvc.ViewModels.CartRenderingViewModel*@

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@if (Model.OrderLines.Count == 0)
{
    <div>
        <p>Your cart is empty. Please <a href="/">return to our store and add some items</a>.</p>
    </div>
}
else
{
    <div data-component="cart" id="shopping-cart">
        <script type="application/json" data-items="true">
            { "model" : @Html.Raw(JsonConvert.SerializeObject(Model)) }
        </script>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Price</th>
                    <th>VAT</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(line, key) in model.OrderLines" :key="line.OrderLineId">
                    <tr class="order-line">
                        <input :id="'OrderLines_' + key + '__Sku'" :name="'OrderLines[' + key + '].Sku'" type="hidden" :value="line.Sku">
                        <input :id="'OrderLines_' + key + '__VariantSku'" :name="'OrderLines[' + key + '].VariantSku'" type="hidden" :value="line.VariantSku">
                        <input :id="'OrderLines_' + key + '__OrderLineId'" :name="'OrderLines[' + key + '].OrderLineId'" type="hidden" :value="line.OrderLineId">
                        <td><a :href="line.ProductUrl">{{ line.ProductName }}</a></td>
                        <td>
                            <template v-if="line.Discount.HasValue && line.Discount > 0">
                                <span>
                                    {{ line.Price }}
                                </span>
                                <span>
                                    {{ line.PriceWithDiscount }}
                                </span>
                            </template>
                            <template v-else>
                                <span>
                                    {{ line.Price }}
                                </span>
                            </template>
                        </td>
                        <td>
                            {{ line.Tax }}
                        </td>
                        <td>
                            <input class="qty form-control inline-block no-padding" type="text" v-model="line.Quantity">
                            <button name="update-basket" class="btn-none inline-block update-basket js-update-basket" type="button" v-on:click="updateCartItems">
                                <span>&#10227;</span> <span>Update</span>
                            </button>
                        </td>
                        <td class="item-total">
                            {{ line.Total }}
                        </td>
                        <td>
                            <button type="button" name="RemoveOrderlineId" class="line-remove" v-on:click="removeCartItem(line.OrderLineId)">Remove</button>
                        </td>
                    </tr>
                </template>
                <tr>
                    <td rowspan="4" colspan="3"></td>
                    <td colspan="1">Sub total:</td>
                    <td>
                        {{ model.SubTotal }}
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1">VAT:</td>
                    <td>
                        {{ model.TaxTotal }}
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1">Discounts:</td>
                    <td>
                        {{ model.DiscountTotal }}
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1"><strong>Order total:</strong></td>
                    <td>
                        {{ model.OrderTotal }}
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

        <checkout-navigation v-bind:model="model" next-step-link=true continue-label="Continue" classes=""></checkout-navigation>
    </div>
}
